doctype html
html
  head
    title=title
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/app.css", rel="stylesheet")
  body
    div#wrap
      div.container
        div.jumbotron
          block content