.Red{
  color: red;
}

.Blue{
  color: blue;
}

.Yellow{
  color: yellow;
}

.Green{
  color: green;
}

.Brown{
  color: brown;
}

.Black{
  color: black;
}

.White{
  color: white;
}

.correct{
  font-size: 60%;
}