.Red{
  color: #FA7070;
}

.Blue{
  color: #7095FA;
}

.Yellow{
  color: #FAFA70;
}

.Green{
  color: #70FAA3;
}

.Black{
  color: black;
}

.White{
  color: white;
}

.correct{
  font-size: 60%;
}

.mastermind{
  padding: 20px;
  width: 500px;
  display: inline-block;
}

.previousGuesses{
  padding: 20px 0;
}